
header {
  text-align: center;
  color: #fff;
  background: #18bc9c;
  position: fixed;
  width:100%;
  z-index: 1;
  height: 30%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.content-wrapper {
  background-color: white;
  top: 32%;
  min-height: 12%;
  position:absolute;
  z-index: 2;
  width: 100%;
}

.content-header {
  margin-bottom: 20px;
}

header .container {
  padding-top: 20px;
  padding-bottom: 50px;
}

header .intro-text .name {
  display: block;
  text-transform: uppercase;
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
  font-weight: 700;
}

header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}

section {
  padding: 100px 0;
  width: 100%;
}

section h2 {
  margin: 0;
  font-size: 3em;
}

hr.star-light, hr.star-primary {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
}

hr.star-light:after, hr.star-primary:after {
  content: "\f005";
  display: inline-block;
  position: relative;
  top: -.8em;
  padding: 0 .25em;
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #18bc9c;
}

hr.star-primary {
  border-color: #2c3e50;
}

hr.star-primary:after {
  color: #2c3e50;
  background-color: #fff;
}

section.primary h2{
  color: #2c3e50;
}

section.success{
  background-color: #18bc9c;
  color: #fff;
}

.inline {
  display: inline;
  margin-left: 20px;
}

.repo-avatar {
  float: left;
  max-height: 50px;
  margin-right: 20px;
}
