
/**
 * Import external fonts
 */
 @import url('https://fonts.googleapis.com/css?family=Roboto');
 @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/**
 * Define theme color to the application
 */
 $theme-colors: (
  'pop': #18bc9c
);

/**
 * Import styles framework
 */
@import '~bootstrap/scss/bootstrap';

/**
* Additional custom styles
*/
* {
  font-family: 'Roboto', Arial, sans-serif;
}

.progress {
  visibility: hidden;
}

#navbar {
  margin-top: 20px;
}

.card:hover {
  background-color: #eee;
  cursor: pointer;
}

/*
* Fix modal backdrop mispositioning
*/
.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-item ~ .nav-item {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.nav-item:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}
